body{
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    COLOR:white;
}
@keyframes animation {
    0%{background-image: url('1.jpeg');width:100%;}
    25%{background-image: url('11.jpeg');width:100%;}   
    50%{background-image: url('10.jpeg');width:100%;}
    75%{background-image: url('5.jpeg');width:100%;}
    100%{background-image: url('6.jpeg');width:100%;}
    
}
.a{
    height:120px;
    opacity: 0.8;
    position: absolute;
}
.a:hover{
    opacity: 1;
    height:150px;
    padding-left: 20px;
}
.c
{
    display: flex;
    justify-content: end;
    gap:80px;
    background-color: gray;
    height:70px;
    mix-blend-mode:exclusion;
    color:white;
}
.img{
    height:60px;
}
.img:hover{
    height:70px;
    border: 1px solid white;
}
.b{
    position:fixed;
}
.dp{
    border-radius: 200px;
    height: 400px;
    width:fit-content;
    border: 5px solid white;
}
td{
    padding-left: 50px;
    width: 50%;
}
.dp2{
    height: 450px;
    border-radius:400px;
    border: 6px solid white;
text-align: end;
margin-right: 60px;
animation-name: animation;
animation-duration:10s;
animation-delay: -3s;
animation-direction:normal;
animation-play-state: running;
animation-iteration-count: infinite;
}
button{
    margin-left:60px;
    height:50px;
    width:200px;
    color:white;
    background-color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    border:6px solid darkred;
    font-size: large;
}
html{
    scroll-behavior: smooth;
}